        @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
        body {
            font-family: 'Montserrat', sans-serif;
        }
        
        * {
            margin: 0;
        }
        
        .btn {
            padding: 15px 25px;
            text-decoration: none;
            border-radius: 25px;
            color: white;
            background-color: #45b29a;
            width: 150px;
        }
        
        .abc a:hover {
            background-color: white;
            color: white;
            border-width: 0px;
        }
        
        .edu-page h1,
        .portfolio-page h1 {
            border: 2px;
            border-style: dashed;
            border-radius: 25px;
            border-color: #b4f4ff;
            width: 400px;
            margin-left: 40%;
        }
        
        .top {
            min-height: 100vh;
            background-color: #ecfcff;
        }
        
        .about {
            margin: 0 auto;
            text-align: center;
            width: 30%;
            position: relative;
            color: #45b29a;
        }
        
        .about img {
            height: 300px;
            width: 400px;
            border-radius: 5px;
            padding-top: 50px;
        }
        
        .about h1 {
            padding: 50px 10px 0px 10px;
        }
        
        .about h3 {
            padding: 10px 10px;
        }
        
        .navbar {
            float: right;
            padding: 50px 50px;
            height: 100px;
        }
        
        .navbar a {
            padding: 15px 25px;
            text-decoration: none;
            border: #30e3ca 1px solid;
            border-radius: 25px;
            color: #45b29a;
            background-color: white;
            margin: 5px;
        }
        
        .navbar a:hover {
            background-color: #45b29a;
            color: white;
            border-width: 0px;
        }
        
        #logo {
            margin: 50px 50px;
            height: 70px;
            width: 70px;
            position: relative;
        }
        
        #logo-da {
            width: 150px;
            height: 150px;
            border: #ecfcff 10px solid;
            border-radius: 50%;
            margin-top: 150px;
        }
        
        .about-detailed {
            text-align: center;
            color: grey;
            min-height: 90vh;
        }
        
        .about-detailed h1 {
            color: #45b29a;
            margin-bottom: 75px;
            margin-top: 75px;
        }
        
        .about-detailed p {
            line-height: 1.5;
            width: 100%;
            margin: 10px 10px;
            margin-bottom: 100px;
        }
        
        #skill-tab {
            padding: 15px 25px;
            text-decoration: none;
            border-radius: 25px;
            color: white;
            background-color: #45b29a;
            width: 150px;
        }
        
        .portfolio {
            margin-bottom: 25px;
        }
        
        .footer {
            background-color: #45b29a;
            margin: 0 auto;
            padding: 25px;
            text-align: center;
            color: white;
        }
        
        .footer a {
            padding: 10px;
            text-decoration: none;
            color: white;
        }
        
        .footer a:hover {
            color: black;
        }
        
        .pf-cl {
            width: 90%;
            margin: 0px 100px;
            text-align: left;
        }
        
        .pf-cl ul {
            list-style-type: square;
        }
        
        .edu-page {
            min-height: 90vh;
            background-color: #ecfcff;
            text-align: center;
            padding-top: 50px;
        }
        
        .portfolio-page {
            min-height: 100vh;
            text-align: center;
            padding-top: 50px;
        }
        
        .arrow-open {
            transform: rotate(90deg);
            padding: 1px;
            display: inline-block;
            font-size: 0.7em;
            border: 1px;
            border-radius: 25px;
            border-style: solid;
            border-color: white;
            margin-left: 5px;
        }
        
        .arrow-close {
            display: none;
        }
        
        .hlt-custom {
            border: 3px solid #8eecff;
        }